<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ehuoyuan.shop.dao.EhyProTypeSpecificationMapper" >
  <resultMap id="BaseResultMap" type="cn.ehuoyuan.shop.domain.EhyProTypeSpecification" >
    <id column="PTS_ID" property="ptsId" jdbcType="VARCHAR" />
    <result column="TYPE_ID" property="typeId" jdbcType="VARCHAR" />
    <result column="SPE_ID" property="speId" jdbcType="VARCHAR" />
    <result column="ISVA" property="isva" jdbcType="INTEGER" />
    <result column="OPTIME" property="optime" jdbcType="TIMESTAMP" />
    <result column="OPER" property="oper" jdbcType="VARCHAR" />
    <result column="SORT" property="sort" jdbcType="INTEGER" />
    
    <!-- 扩展属性 
    <result column="SPT_NAME" property="sptName" jdbcType="VARCHAR" />
    <result column="SP_ID" property="spId" jdbcType="VARCHAR" />
    <result column="SP_VALUE" property="spValue" jdbcType="VARCHAR" />-->
  </resultMap>
  <sql id="Base_Column_List" >
    PTS_ID, TYPE_ID, SPE_ID, ISVA, OPTIME, OPER, SORT
  </sql>
  
  <!-- 根据产品类型ID查询该类型所有的规格以及规格值 -->
  <select id="findAll" resultType="map" parameterType="java.lang.String" >
    SELECT sp.SPT_NAME,sp.SPT_ID,es.SP_ID,es.SP_VALUE FROM ehy_pro_type pt,ehy_pro_type_specification ps,ehy_specification_type sp,
	ehy_specification es WHERE 
	pt.PRO_TYPE_ID=ps.TYPE_ID AND ps.SPE_ID=sp.SPT_ID AND 
	sp.SPT_ID=es.SPT_ID AND pt.PRO_TYPE_ID=#{proTypeId,jdbcType=VARCHAR} AND pt.ISVA=1 AND ps.ISVA=1 AND sp.ISVA=1
	AND es.ISVA=1
  </select>
  
  <!-- 根据类型id查询该类型的关联的规格 -->
  <select id="findByTypeIdAll" resultType="map" parameterType="java.lang.String">
  	SELECT * FROM ehy_pro_type_specification WHERE isva =1 and
  	 TYPE_ID = #{proTypeId};
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ehy_pro_type_specification
    where PTS_ID = #{ptsId,jdbcType=VARCHAR}
  </select>
  
  <!-- 根据产品类型删除产品规格关联数据 -->
  <update id="deleteByPrimaryKey" parameterType="cn.ehuoyuan.shop.domain.EhyProTypeSpecification" >
    update ehy_pro_type_specification set isva =#{isva}
    where TYPE_ID = #{typeId};
  </update>
  
  <insert id="insert" parameterType="cn.ehuoyuan.shop.domain.EhyProTypeSpecification" >
    insert into ehy_pro_type_specification (PTS_ID, TYPE_ID, SPE_ID, 
      ISVA, OPTIME, OPER, 
      SORT)
    values (#{ptsId,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{speId,jdbcType=VARCHAR}, 
      #{isva,jdbcType=INTEGER}, #{optime,jdbcType=TIMESTAMP}, #{oper,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.ehuoyuan.shop.domain.EhyProTypeSpecification" >
    <selectKey keyProperty="ptsId" resultType="string" order="BEFORE">
	    SELECT REPLACE(UUID(),'-','') AS id;
	</selectKey>
    
    insert into ehy_pro_type_specification
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ptsId != null" >
        PTS_ID,
      </if>
      <if test="typeId != null" >
        TYPE_ID,
      </if>
      <if test="speId != null" >
        SPE_ID,
      </if>
      <if test="isva != null" >
        ISVA,
      </if>
      <if test="optime != null" >
        OPTIME,
      </if>
      <if test="oper != null" >
        OPER,
      </if>
      <if test="sort != null" >
        SORT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ptsId != null" >
        #{ptsId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="speId != null" >
        #{speId,jdbcType=VARCHAR},
      </if>
      <if test="isva != null" >
        #{isva,jdbcType=INTEGER},
      </if>
      <if test="optime != null" >
        #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null" >
        #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ehuoyuan.shop.domain.EhyProTypeSpecification" >
    update ehy_pro_type_specification
    <set>
      <if test="typeId != null" >
        TYPE_ID = #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="speId != null" >
        SPE_ID = #{speId,jdbcType=VARCHAR},
      </if>
      <if test="isva != null" >
        ISVA = #{isva,jdbcType=INTEGER},
      </if>
      <if test="optime != null" >
        OPTIME = #{optime,jdbcType=TIMESTAMP},
      </if>
      <if test="oper != null" >
        OPER = #{oper,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        SORT = #{sort,jdbcType=INTEGER},
      </if>
    </set>
    where PTS_ID = #{ptsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ehuoyuan.shop.domain.EhyProTypeSpecification" >
    update ehy_pro_type_specification
    set TYPE_ID = #{typeId,jdbcType=VARCHAR},
      SPE_ID = #{speId,jdbcType=VARCHAR},
      ISVA = #{isva,jdbcType=INTEGER},
      OPTIME = #{optime,jdbcType=TIMESTAMP},
      OPER = #{oper,jdbcType=VARCHAR},
      SORT = #{sort,jdbcType=INTEGER}
    where PTS_ID = #{ptsId,jdbcType=VARCHAR}
  </update>
</mapper>