#div{
	width: 1200px;
	height:100%;
	margin: auto;
}
*{
	margin: 0;
	padding: 0;
	font-family: "΢���ź�";
	list-style-type: none;
	z-index:0;
}

.links-li{
	width: 100%;
	height: 90px;
}
.links-li li{
	float: left;
	height: 38px;
	line-height: 90px;
}
.links-li .line-height{
	background-color: #000;
	height: 17px;
}
.links-li li a{
	font-size: 21px;
	margin-bottom: 20px;
	font-weight: 800;
}

.div_emp{
	width: 300px;
	height: auto;
	border: 1px solid #DEDEDE;
	font-size: 14px;
}

.div_xx{
	width:300px;
	height:30px;
	background-color:#EEEEEE;
	text-align: center;
}
.div_xx img{
	height: 20px;
}

.div_bor{
	 border:1px solid #DEDEDE;
	 width: 80px;
	 height: 80px;
	 border-radius:50%;
	 overflow: hidden;
}
.div_bor img{
	width: 80px;
	height: 80px;
}

.div_da{
	width: 100%;
	height: 100%;
	
}

.div_text{
	width: 200px;
	height: auto;
	
}
.div_text  li a{
	color: red;	
}
.div_text li{
	padding: 7px;
}


.div_baby{
	width: 890px;
	height: auto;
	border: 1px solid #DEDEDE;
	float: right;
	margin-top: -338px;
	font-size: 14px;
}
.div_bb{
	width: 890px;
	height: 30px;
	background-color: #EEEEEE;
	text-align: center;
}

.div_sy{
	width: 100%;
	height: 307px;
	text-align:center;
	font-size: 16px;
}

.div_top{
	width: 790px;
	height:30px;
}

.div_body{
	width: 260px;
	height: 260px;
	border: 2px dashed #DEDEDE;
	border-left: hidden;
	border-top: hidden;
	border-bottom: hidden;
	float: left;

	
}

.div_body2{
	width: 260px;
	height: 260px;
	border: 2px dashed #DEDEDE;
	border-top: hidden;
	border-left: hidden;
	border-bottom: hidden;
	float: left;
	
}
.div_body3{
	width: 260px;
	height: 260px;
	border: 2px dashed #DEDEDE;
	float: left;
	border-top: hidden;
	border-left: hidden;
	border-bottom: hidden;
	border-right: hidden;
	
}


.div_red{
	width: 100px;
	height: 50px;
	background-color: red;
	border-radius:10%;
	margin: 50px;
	margin-left: 80px;
	font-size: 20px;
	padding-top: 20px; 
}

.div_red_down{
	margin-top: -40px;
}
.div_red_downs{
	margin-top: 50px;
}

.div_da2{
	width: 1200px;
	height: 500px;
	border: 1px solid red;
	margin-top: 10px;
}
#mav{
	margin-top: 0px;
	margin-left: -200px;
	margin: 10px;
}
#tab_a{
	border: 1px solid #DEDEDE;
	margin-top:10px; 
	height:100%; 
}

.mavs{
	margin-left:-200px; 
}

#curtain{
	position: fixed;
	background-color: rgb(51, 51, 51);
	opacity: 0.4;
	width: 100%;
	height: 100%;
	z-index:8888;
}

#tab-center{
	width: 1200px;
	overflow: hidden;
}

#share tr td{
	padding: 10px;
}

#shares tr td{
	padding: 3px;
}

#share{
	width: 500px;
	height: 450px;
	background-color: #fff;
	 position:fixed;
	border: 1px solid #d3d3d0;
	top:200px;
	left:500px;
	 z-index:10001; 
}

#shares{
	width: 500px;
	height: 300px;
	background-color: #fff;
	 position:fixed;
	border: 1px solid #d3d3d0;
	top:200px;
	left:500px;
	 z-index:10001; 
}

#sharePwd{
	width: 500px;
	height: 250px;
	background-color: #fff;
	 position:fixed;
	border: 1px solid #d3d3d0;
	top:200px;
	left:500px;
	 z-index:10001; 
}


#close{
	 position:fixed;
	margin: 0 auto;
	top:120px;
	left:440px;
	z-index: 10001;
}

#closes{
	 position:fixed;
	margin: 0 auto;
	top:0px;
	left:440px;
	z-index: 10001;
}

#closePwd{
	 position:fixed;
	margin: 0 auto;
	top:0px;
	left:440px;
	z-index: 10001;
}
#imgInput{
	display: none;
}
#imgform{
	display: none;
}
#Section2{
	height:530px;
	overflow :auto
}



.buy_baby{
	
	width: 700px;
	
}
.buy_baby img{
	margin: 10px;
}

/* .buy_baby span{
	text-align: center;
} */

.buy_baby_ul{
	float: right;
	margin-right: 218px;
	margin-top:30px;
}

.footDiv{
	border:1px solid red;
	height: 300px;
	width: 200px;
	display: none; 
	
}
/* #share{
	width: 500px;
	height: 300px;
	background-color: red;
	margin-top:-460px;
	border: 1px solid #d3d3d0;
	overflow-x: hidden;
	overflow-y:scroll; 
	display: none;
	z-index: 999;
} */

.buy_baby li{
	margin: 10px;
}

.buy_baby2{
	border: 1px solid red;
	width: 498px;
	height: 220px;
	float: right;
	margin-top: -242px;
	border: 2px dashed #DEDEDE;
	border-top: hidden;
	border-right:hidden;
	border-bottom: hidden;
}
.buy_baby2_div{
	border: 1px solid #3399ff;
	width: 150px;
	height: 160px; 
	margin: 10px;
}
.buy_baby2_div2{
	border: 1px solid #fff;;
}

.buy_baby2_div2 li{
	margin: 20px;
	margin-top: -90px;
	color: #3399ff;
}
.buy_baby2_div3{
	margin-bottom: 0px;
	margin-left: 10px;
}


.div_Section4{
	border: 1px solid;
	width: 320px;
	height: 500px;
	float: left;
	margin:10px 20px 30px 40px;
}

.div_Section4 img{
	margin: 10px;
}

.div_Section4_2{
	width: 250px;
	height: 100px;
	font-size:15px;

	margin-left: 10px;
}
.div_Section4_4{
	width: 100px;
	height:20px;
	color: #ff9900;
}
.div_Section4_3{
	margin: 10px;
	width: 250px;
	padding-right:20px;
	
}
.div_Section4_3 div{
	float: right;
}
.delete{
	margin: 10px;
	margin-bottom: 10px;
	color:  #9E9E9E;
}

#hide_div{
  	background:#111;
  	width:100%;
  	height:100%;
  	border:1px solid white;
  	position: fixed;
  	display:none;
  	top:0px;
  	left:0px;
  	z-index:99;

}
.spana li{
	width:140px;
	height:40px; 
	margin-top: -11px;
}

.zhuce{
	 border: 1px solid #fff;
	border-top: hidden;
	border-right:hidden;
	border-left:hidden;
}

.spana li:HOVER {
}


#Section3_div{
	border: 2px solid #ff4300;
	border-top: hidden;
	border-right:hidden;
	border-left:hidden;
	
}

#input{
	border: none;
	background: none;
}